<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            {{message}}
            <br/>
            <input type="text" v-model="userComment">
        <h2>{{userComment}}</h2>

        <ul>
            <li v-for="comment in userComments">
                {{comment}}
            </li>
        </ul>
        </div>
        <script>
            var prog = new Vue({
                el:"#app", //html element
                data:{
                    message:"Hello Vue!",
                    message2:"Vue is a great framework :)",
                    userComment:"Vue is a great framework :)))",
                    userComments:[
                        'Vue is great',
                        'Vue is easy to learn',
                        'I love Vue'
                    ]
                }
            });
        </script>
    </body>
</html>